@tailwind base;
@tailwind components;
@tailwind utilities;

@import "@fontsource/inter/400.css";
@import "@fontsource/inter/600.css";
@import "@fontsource/inter/700.css";


html{
  overflow-x: hidden
}

/* Optional global styles */
body {
  @apply bg-white text-dark;
  overflow-x: hidden;


}


a {
  font-weight: 500;
  color: #0941f6;
  text-decoration: inherit;
}
a:hover {
  color: #0941f6;
}


h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #0941f6;
}
button:focus,
button:focus-visible {
  outline: 4px auto #0941f6;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  
  button {
    background-color: #f9f9f9;
  }
}



@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%); /* scroll half the width since we duplicated */
  }
}

.marquee {
  animation: marquee 20s linear infinite;
  will-change: transform; /* smoother GPU acceleration */
}

